@import "@/styles/func";

.sale_list_info_page {
  background: #F0F3F7;
}


.cus_form {
  .cus_form_input_view {
    width: pr(468*2);
    height: pr(32*2);
    border-radius: pr(8);
  }
}

.cus_form_title_text {
  width: pr(230);
  text-align: right;
}