@import "@/styles/func";

.sale_list_page {
  background: #F0F3F7;

  .house_sale_input_view {
    width: pr(480);
    height: pr(64);
  }
}

.house_sale_list_table_tip_view {
  background: #E6F7FF;
  border: 1px solid #BAE7FF;
  height: pr(80);
  width: 100%;
}

.ant-modal-body {
  .house_sale_input_view {
    width: pr(480);
    height: pr(64);
  }
}